<div>
    
    <div class="bg-primary-subtle">
        <nav class="nav">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/employee">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/employee/voucher">Voucher and Others</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/employee/leave-request">Leave</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/">Log Out</a>
              </li>
              </ul>
        </nav>
    </div>
</div>